@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">Welcome</h1>   
    <h2 class="text-body">Agri-Energy Connect is a creative response to South Africa's urgent demand for integrated green energy solutions and sustainable farming practices.
        The platform's vision, goals, and high-level plans are described in this proposal. Its purpose is to close the gap that exists between the suppliers of green energy
        technologies and the agriculture industry. Agri-Energy Connect aims to transform the intersection of sustainable agriculture and renewable energy by establishing a
        digital environment that allows farmers, green energy specialists, and enthusiasts to work together, exchange resources, and innovate.</h2>
</div>
